In [1]:
import os
print(os.getcwd())

c:\Users\ThinkPad\Desktop\code\Tradeking

In [2]:
from data.yahoodownloader import YahooDownloader
import data.config_tickers as config_tickers
TRAIN_START_DATE = '2009-01-01'
TRAIN_END_DATE = '2010-01-01'
TRADE_START_DATE = '2019-01-01'
TRADE_END_DATE = '2020-01-01'

df = YahooDownloader(start_date = TRAIN_START_DATE,
                     end_date = TRADE_END_DATE,
                     ticker_list = config_tickers.DOW_30_TICKER).fetch_data()
df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
80471
                           Date       Open       High        Low      Close  \
0     2009-01-02 00:00:00-05:00  18.570000  19.520000  18.400000  19.330000
1     2009-01-05 00:00:00-05:00  19.200001  20.240000  19.000000  19.950001
2     2009-01-06 00:00:00-05:00  20.299999  21.379999  20.010000  21.070000
3     2009-01-07 00:00:00-05:00  20.530001  20.719999  19.830000  20.010000
4     2009-01-08 00:00:00-05:00  19.799999  20.170000  19.400000  20.040001
...                         ...        ...        ...        ...        ...
80466 2019-12-24 00:00:00-05:00  55.000000  55.250000  54.650002  54.900002
80467 2019-12-26 00:00:00-05:00  54.980000  55.230000  54.520000  55.220001
80468 2019-12-27 00:00:00-05:00  55.290001  55.549999  54.720001  54.830002
80469 2019-12-30 00:00:00-05:00  54.860001  55.049999  54.240002  54.340000
80470 2019-12-31 00:00:00-05:00  54.020000  54.779999  53.930000  54.730000

       Adj Close    Volume  tic
0      15.365303  10955700  AXP
1      15.858144  16019200  AXP
2      16.748421  13820200  AXP
3      16.042885  15699900  AXP
4      16.066942  12255100  AXP
...          ...       ...  ...
80466  46.988598    926200  DOW
80467  47.262482   1909600  DOW
80468  46.928677   1688500  DOW
80469  46.509300   1943300  DOW
80470  46.843094   2145700  DOW

[80471 rows x 8 columns]

,date,open,high,low,close,volume,tic,day
0,2009-01-02,3.067143,3.251429,3.041429,2.762746,746015200,AAPL,4
1,2009-01-02,58.590000,59.080002,57.750000,44.219185,6547900,AMGN,4
2,2009-01-02,18.570000,19.520000,18.400000,15.365303,10955700,AXP,4
3,2009-01-02,42.799999,45.560001,42.779999,33.941093,7010200,BA,4
4,2009-01-02,44.910000,46.980000,44.709999,31.579323,7117200,CAT,4
...,...,...,...,...,...,...,...,...
80466,2019-12-31,293.660004,294.089996,291.149994,281.603607,2224200,UNH,1
80467,2019-12-31,187.059998,188.000000,186.539993,184.216827,5273000,V,1
80468,2019-12-31,61.209999,61.400002,60.939999,52.529835,8466700,VZ,1
80469,2019-12-31,58.820000,59.470001,58.810001,51.983810,3305100,WBA,1
80470,2019-12-31,119.500000,119.800003,118.190002,113.278336,4912000,WMT,1

In [3]:
from data.preprocessor import clean_data
df = clean_data(df)
df.to_csv('result/df.csv')
df

,date,open,high,low,close,volume,tic,day
0,2009-01-02,3.067143,3.251429,3.041429,2.762746,746015200,AAPL,4
1,2009-01-02,58.590000,59.080002,57.750000,44.219185,6547900,AMGN,4
2,2009-01-02,18.570000,19.520000,18.400000,15.365303,10955700,AXP,4
3,2009-01-02,42.799999,45.560001,42.779999,33.941093,7010200,BA,4
4,2009-01-02,44.910000,46.980000,44.709999,31.579323,7117200,CAT,4
...,...,...,...,...,...,...,...,...
80267,2019-12-31,293.660004,294.089996,291.149994,281.603607,2224200,UNH,1
80268,2019-12-31,187.059998,188.000000,186.539993,184.216827,5273000,V,1
80269,2019-12-31,61.209999,61.400002,60.939999,52.529835,8466700,VZ,1
80270,2019-12-31,58.820000,59.470001,58.810001,51.983810,3305100,WBA,1
80271,2019-12-31,119.500000,119.800003,118.190002,113.278336,4912000,WMT,1

In [4]:
print(len(df.tic.unique()))
print(len(df.date.unique()))
# print(df.tic.value_counts())
29*2768

29
2768

80272